.main-container {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  background-color: rgb(32 21 49/1);
}

.footer-content {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  margin: 0px auto;
  padding: 3.5rem 0px 0px;
  height: 22.875rem;
  width: 67.5rem;
  font-size: 0.875rem;
}

.logo-image {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  vertical-align: middle;
  max-width: 100%;
  display: block;
  height: 3.125rem;
  margin-bottom: 4rem;
}

.flex-container {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  font-weight: 500;
  color: rgb(171 166 179/1);
  display: flex;
  justify-content: space-between;
}

.grid-container {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  display: grid;
  row-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  column-gap: 2rem;
}

.grid-item {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  width: 12.5rem;
}

.follow-us-section {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
}

.follow-us-title {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0.5rem;
}

.social-icons {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  display: flex;
}

.social-icon {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  text-decoration: inherit;
  color: inherit;
  WebkitTapHighlightColor: rgba(0, 0, 0, 0);
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  margin-right: 2.9rem;
}
