/* MainOffer.css */
.main-offer-image {
  border: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  padding: 5rem 0px 0px;
  width: 100%;
  display: block;
}
